<mat-card class="home">
    <mat-toolbar class="toolbar-home">

        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon> Quotex</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Quotex</button>
            <button mat-menu-item>IQ Option</button>
            <button mat-menu-item>Binomo</button>
        </mat-menu>

        <span class="home-spacer"></span>

        <button mat-button color="accent" class="mat-elevation-z8 btn-g-green">
          <mat-icon class="mr-1r">add_circle</mat-icon> Iniciar Operação
        </button>

    </mat-toolbar>

    <div class="card-default">

        <mat-card class="card-default-item bg-purple mat-elevation-z8">
            <mat-card-header>
                <mat-card-title class="d-flex-all-center card-title">
                    <span class="material-icons mr-1r">account_balance_wallet</span> Banca inicial
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <h3 class="card-value"> <small>R$</small> 157,00</h3>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-default-item bg-blue mat-elevation-z8">
            <mat-card-header>
                <mat-card-title class="d-flex-all-center card-title">
                    <span class="material-icons mr-1r">equalizer</span>Banca atual
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <h3 class="card-value"><small>R$</small> 157,00</h3>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-default-item bg-green mat-elevation-z8">
            <mat-card-header>
                <mat-card-title class="d-flex-all-center card-title">
                    <span class="material-icons mr-1r">attach_money</span> Lucro total
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <h3 class="card-value"><small>R$</small> 00,00</h3>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-default-item  bg-yellow mat-elevation-z8">
            <mat-card-header>
                <mat-card-title class="d-flex-all-center card-title">
                    <span class="material-icons mr-1r">track_changes</span> Meta do dia
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <h3 class="card-value"><small>R$</small> 5,00</h3>
            </mat-card-content>
        </mat-card>

    </div>

</mat-card>

<mat-card class="card-analyze">

    <mat-card class="card-analyze-item card-chart">
        <app-bar-chart></app-bar-chart>
    </mat-card>

    <mat-card class="card-analyze-item">
        <app-pie-chart></app-pie-chart>
    </mat-card>

    <mat-card class="card-analyze-item">

        <mat-calendar (selectedChange)="selected = $event"></mat-calendar>

        <p>Selected date: {{selected}}</p>

    </mat-card>

</mat-card>


<mat-card class="home">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="home-table">

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="text-center"> #id </th>
                <td mat-cell *matCellDef="let element">
                    <span class="d-flex-all-center">
                  {{element.id}}
                </span>
                </td>
            </ng-container>


            <!-- date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Data </th>
                <td mat-cell *matCellDef="let element">
                    <span class="d-flex-all-center">
                  {{element.date}}
                </span>
                </td>
            </ng-container>

            <!-- asset Column -->
            <ng-container matColumnDef="assets">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Paridade </th>
                <td mat-cell *matCellDef="let element">
                    <span class="d-flex-all-center">
                  {{element.assets}}
                </span>
                </td>
            </ng-container>

            <!-- payout Column -->
            <ng-container matColumnDef="payout">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Payout </th>
                <td mat-cell *matCellDef="let element">
                    <span class="d-flex-all-center">
                  {{element.payout}}
                </span>
                </td>
            </ng-container>


            <!-- value Column -->
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Value </th>
                <td mat-cell *matCellDef="let element">
                    <span class="d-flex-all-center">
                    {{element.value}}
                  </span>
                </td>
            </ng-container>


            <!-- profit Column -->
            <ng-container matColumnDef="profit">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Lucro /Prejuizo</th>
                <td mat-cell *matCellDef="let element">

                    <span class="text-win d-flex-all-center">
                      <span class="material-icons">add_circle_outline</span> &nbsp;&nbsp;R$ {{element.profit}}
                    </span>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</mat-card>